@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

.container {
  display: flex;
  margin: 48px 64px 24px 64px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}

body {
  color: var(--foreground);
 
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Funnel Display", sans-serif;
}


.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.justified-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.canvas {
  background-color: #FFE8CC;
  height: 75vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}


/* 
Header: 50px
SubHeader: 35px
Body: 18px
Body large: 20px
Secondary: 16px
Tertiary: 14px all caps
*/

.font {
    font-family: "Funnel Display", sans-serif;
}

h1 {
  @extend .font;

  font-size: 40px;
}

h2 {
  @extend .font;

  font-size: 32px;
}

h3 {
  @extend .font;

  font-size: 24px;
}

h4 {
  @extend .font;

  font-size: 20px;
  font-weight: 200;
}

p {
  @extend .font;

  font-size: 18px;
}

.small-text {
  @extend .font;

  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 4px 0 0 0;
  margin: 0;
}

.btn {
    outline: none;
    background: none;
}

// phone screens
@media (max-width: 500px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  .container {
   margin: 24px 0;
    width: 100%;
     overflow: hidden;
     display: flex;
     flex-direction: column;
  }

  .canvas {
    height: 400px;
    
  }

}

// // tablet screens
// @media (max-width: 1200px) {
  
// }

// // xl screens
// @media (min-width: 1400px) {
  
// }