@use "./globals.scss";

header {
  font-family: "Funnel Display", sans-serif;
  display: flex;
  color: globals.$body-color;
  flex-direction: row;
  margin: 48px 0 24px 0;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
}

.name-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
  color: globals.$body-color;
  text-decoration: none;

  h1,
  h2,
  h4 {
    padding: 0;
    margin: 0;
  }

  h2 {
    @extend h2;
  }

  h4 {
    @extend h4;

    font-size: 20px;
    font-weight: 200;
  }

  &:hover {
    color: globals.$primary-color;
    cursor: pointer;
  }
}

.link,
.link-active {
  padding: 12px;
  font-weight: 200;
  margin: 0 24px;
  cursor: pointer;
  text-decoration: none;
  color: globals.$body-color;
  font-size: 20px;
  text-transform: capitalize;

  &:hover {
    font-weight: bold;
    color: globals.$primary-color;
  }
}

.link-active {
  font-weight: bold !important;
  color: globals.$primary-color !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: globals.$primary-color;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.back-link {
  position: absolute;
  left: 48px;
  top: 78px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.desk-link {
  position: absolute;
  right: 48px;
  top: 64px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media (max-width: 500px) {
  header {
    margin: 0;
    padding: 12px 0 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    border-bottom: 0.5px solid rgb(170, 170, 170);
  }

  h2 {
    margin: 0 !important;
    font-size: 24px;
  }

  // .name-container {
  //   text-align: left;
  //   align-items: flex-start;
  // }

  .back-link {
    position: inherit;

    border: none;
    background: transparent;
    cursor: pointer;
  }
}
