@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

header {
  font-family: "Funnel Display", sans-serif;
  display: flex;
  color: #3c383b;
  flex-direction: row;
  margin: 48px 0 24px 0;
  width: 100%;
  justify-content: space-evenly;
}

.name-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
  color: #3c383b;
  text-decoration: none;

  h1,
  h4 {
    padding: 0;
    margin: 0;
  }

  h4 {
    font-weight: 200;
  }

  &:hover {
    color: rgb(254, 150, 137);
    cursor: pointer;
  }
}

.link,
.link-active {
  padding: 12px;
  font-weight: 200;
  margin: 0 24px;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    font-weight: bold;
    color: rgb(254, 150, 137);
  }
}

.link-active {
  font-weight: bold !important;
  color: rgb(254, 150, 137) !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(254, 150, 137);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.back-link {
  position: absolute;
  left: 48px;
  top: 64px;
  border: none;
  background: transparent;
  cursor: pointer;
}


.desk-link {
  position: absolute;
  right: 48px;
  top: 64px;
  border: none;
  background: transparent;
  cursor: pointer;

 
}
