@use "./globals.scss";

/** General Popup Styles*/

.popup {
  font-family: "Funnel Display", sans-serif;
  font-size: 20px;
  position: absolute;
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  border: 2px solid white;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes expand-height-250 {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes expand-width-400-r {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes expand-width-400-l {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes expand-width-850 {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

@keyframes expand-width-500 {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}

.popup-400-l {
  width: 400px;
  animation: expand-width-400-l 0.3s ease-out;
}

.popup-400-r {
  width: 400px;
  animation: expand-width-400-r 0.3s ease-out;
}

.popup-250-h {
  width: 250px;
  animation: expand-height-250 0.3s ease-out;
}

.popup-850 {
  width: 850px;
  animation: expand-width-850 0.3s forwards;
}

.popup-500 {
  width: 500px;
  animation: expand-width-500 0.3s ease-out;
}

/* Layout CSS */

aside {
  width: 260px;
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid globals.$secondary-color;
}

main {
  padding: 12px 24px;
  width: 100%;
}

.end-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 24px;
}

/* Font CSS */

.subtitle {
  margin: 0;
}

h2 {
  font-family: "Funnel Display", sans-serif;
  color: #3c383b;
  margin: 0;
  font-size: 24px;
  text-align: center;
  margin-bottom: 18px;
}

p {
  color: #3c383b;
  letter-spacing: 0.1rem;
}

h3 {
  margin: 0;
}

/* Buttons */
.expand-link {
  text-decoration: none;
  font-size: 16px;
  color: #3c383b;
  align-items: center;
  display: flex;
  padding-right: 8px;
}

.primary-btn {
  font-family: "Funnel Display", sans-serif;
  background-color: #f06a6a;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 16px;
  width: fit-content;
}

.secondary-btn {
  background-color: white;
  text-align: center;
  border-radius: 8px;
  font-family: "Funnel Display", sans-serif;
  color: #f06a6a;
  font-weight: bold;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  margin-top: 0;

  &:hover {
    color: white;
    background: #f06a6a;
  }
}

.img {
  width: 100px;
  height: 100px;
  // border-radius: 8px;
  margin-right: 12px;
}
