@use "./globals.scss";

@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
.next-link {
  text-decoration: none;
  color: #3c383b;
}

.layout {
  display: flex;
  /* overflow-x: hidden; */
  flex-direction: row;
  font-family: "Funnel Display", sans-serif;

  aside {
    width: 300px;
    padding: 0 48px 100px 48px;
    position: sticky;

    border-right: 2px solid rgb(216, 216, 216);

    ul {
      padding: 0;
      list-style: none;
    }

    li {
      padding: 12px 0;
      font-size: 18px;
      color: gray;
      font-weight: 100;

      &:hover {
        color: #fe9689;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .li-current {
      color: #f06a6a;
      font-weight: bold;
    }
  }

  main {
    padding: 12px 48px 48px 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    h1 {
      margin: 0;
      color: #3c383b;
    }

    p {
      color: #3c383b;
    }
  }
}

.btn {
  background-color: white;
  font-family: "Funnel Display", sans-serif;
  color: #f06a6a;
  border: none;
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  margin-top: 24px;
}

.center-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 12px;
}

/* project details */
.details-grid {
  display: grid;
  grid-template-columns: 225px 1fr;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.date {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  max-width: 175px;
}

.stack {
  max-width: 214px;
  grid-column: 5;
  display: flex;
  flex-direction: column;
}

/* project list item */
.project-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin: 0 0 48px 0;
  padding-bottom: 24px;
  max-width: 800px;
  text-decoration: none;
  color: #3c383b;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
  margin-top: 48px;
}

.text-column {
  width: 100%;
  padding: 24px;
  margin: 0 48px;
}

/* project profile */
.tag {
  padding: 2px 12px;
  font-size: 16px;
  width: fit-content;
  margin: 0;
  color: #898989;
  font-weight: normal;
  border-right: 1px solid #898989;
}

.tag:first-child {
  padding-left: 0;
}

.tag:last-child {
  border-right: none;
}

.project-image {
  width: 100%;
  height: auto;
  margin: 48px 0;
  border-radius: 8px;
}

.deliverables {
  max-width: 700px;
  /* letter-spacing: .1rem; */
}

.header-row {
  @extend .row;

  margin-top: 24;
  align-items: flex-end;
}

.project-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin: 0 0 48px 0;
  padding-bottom: 24px;
  max-width: 800px;
  text-decoration: none;
  color: #3c383b;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
  margin-top: 48px;
}

@media (max-width: 500px) {
  .layout {
    aside {
      display: none;
    }
    main {
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      align-items: center;

      h1 {
        margin: 0;
        color: #3c383b;
      }

      p {
        color: #3c383b;
      }
    }
  }

  .header-row {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .details-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .text-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
  }

.date {
 max-width: none;
}

.stack {
   max-width: none;

}

}
