@use "./globals.scss";

h3 {
  @extend h3;
}

h2 {
 @extend h2;
}

.layout {
  display: flex;
  flex-direction: row;
  font-family: "Funnel Display", sans-serif;

  aside {
    width: 300px;
    padding: 0 48px 100px 48px;
    position: sticky;

    border-right: 2px solid rgb(216, 216, 216);

    ul {
      padding: 0;
      list-style: none;
    }

    li {
      padding: 12px 0;
      font-size: 18px;
      color: globals.$secondary-color;
      font-weight: 100;

      &:hover {
        color: globals.$primary-color;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .li-current {
      color: globals.$primary-color;
      font-weight: bold;
    }
  }

  main {
    padding: 12px 48px 48px 48px;
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
      color: globals.$body-color;
    }
  }
}

.btn {
  background-color: white;
  font-family: "Funnel Display", sans-serif;
  color: globals.$primary-color;
  border: none;
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  margin-top: 24px;
}

.center-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 12px;
}

/* project details */
.details-grid {
  display: grid;
  grid-template-columns: 225px 1fr;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.projects-row {
  @extend .row;

  margin-top: 18px;
}

.projects-column {
  @extend .column;

  margin-left: 24px;
}

.date {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  max-width: 175px;
}

.stack {
  max-width: 214px;
  grid-column: 5;
  display: flex;
  flex-direction: column;
}

/* project list item */
.project-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin: 0 0 48px 0;
  max-width: 800px;
  text-decoration: none;
  color: globals.$body-color;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
}

.project-list-img {
  width: 200px;
  height: 200px;
}

.column-spacing {
  margin-left: 24px;
}

.text-column {
  width: 100%;
  padding: 24px;
  margin: 0 48px;
}

/* project profile */
.tag {
  padding: 2px 12px;
  font-size: 16px;
  width: fit-content;
  margin: 0;
  color: globals.$secondary-color;
  font-weight: normal;
  border-right: 1px solid globals.$secondary-color;
}

.tag:first-child {
  padding-left: 0;
}

.tag:last-child {
  border-right: none;
}

.deliverables {
  max-width: 700px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  word-break: break-all;
}

.header-row {
  @extend .row;

  margin-top: 24;
  align-items: flex-end;
}

.project-list-item {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  justify-content: center;
  margin: 0 0 64px 0;
  max-width: 800px;
  text-decoration: none;
  color: globals.$body-color;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
  margin-top: 48px;
}

@media (max-width: 500px) {
  .layout {
    flex-direction: column;
    aside {
      visibility: hidden;
      display: none;
    }
    main {
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 0;
        color: globals.$body-color;
      }

      p {
        color: globals.$body-color;
      }
    }
  }

  .header-row {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .details-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .projects-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-column {
    margin-left: 0;
  }

  .project-list-img {
    width: 100px;
    height: 100px;
    margin: 32px 0;
  }

  .text-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .date {
    max-width: none;
  }

  .stack {
    max-width: none;
  }

  .tag {
    font-size: 14px;
    text-transform: uppercase;
    width: fit-content;
    margin: 0;

    padding: 0;
    line-height: 24px;
    color: globals.$secondary-color;
    font-weight: normal;
    border: none;
  }

  .tag::after {
    content: "|";
    color: #999;
    margin: 0 8px;
  }

  .tag:last-child::after {
    content: "";
  }
  .project-list-item {
    flex-direction: column;
    margin: 0 0 32px 0;
    align-items: center;
  }

  .column-spacing {
    margin-left: 0;
  }

  h3, h2 {
    text-align: center;
  }
}
